week_one_13.jpg filter=lfs diff=lfs merge=lfs -text
week_one_17.jpg filter=lfs diff=lfs merge=lfs -text
derby_boats.jpg filter=lfs diff=lfs merge=lfs -text
rachel_in_tree_art_in_park.JPG filter=lfs diff=lfs merge=lfs -text
week_one_07.jpg filter=lfs diff=lfs merge=lfs -text
week_one_11.jpg filter=lfs diff=lfs merge=lfs -text
ham7_optics.jpg filter=lfs diff=lfs merge=lfs -text
test_mass_lexc.jpg filter=lfs diff=lfs merge=lfs -text
week_one_14.jpg filter=lfs diff=lfs merge=lfs -text
daniel_cat.jpg filter=lfs diff=lfs merge=lfs -text
pinacola_art_in_park.jpg filter=lfs diff=lfs merge=lfs -text
control_room.jpg filter=lfs diff=lfs merge=lfs -text
ham7_layout.JPG filter=lfs diff=lfs merge=lfs -text
me_gw_tutorial_wide_angle.jpg filter=lfs diff=lfs merge=lfs -text
week_one_02.jpg filter=lfs diff=lfs merge=lfs -text
week_one_06.jpg filter=lfs diff=lfs merge=lfs -text
week_one_10.jpg filter=lfs diff=lfs merge=lfs -text
bbq_paint_magnets.jpg filter=lfs diff=lfs merge=lfs -text
blues_control_room.JPG filter=lfs diff=lfs merge=lfs -text
ice_cream_w_liquid_nitrogen.MOV filter=lfs diff=lfs merge=lfs -text
me_gw_explorer_tutorial.jpg filter=lfs diff=lfs merge=lfs -text
summer_triangle_star_party.jpg filter=lfs diff=lfs merge=lfs -text
week_one_05.jpg filter=lfs diff=lfs merge=lfs -text
week_one_09.jpg filter=lfs diff=lfs merge=lfs -text
week_one_15.jpg filter=lfs diff=lfs merge=lfs -text
beam_tube_tour.jpg filter=lfs diff=lfs merge=lfs -text
green_laser_card.jpg filter=lfs diff=lfs merge=lfs -text
pasco_farmers_market.jpg filter=lfs diff=lfs merge=lfs -text
red_laser_card.jpg filter=lfs diff=lfs merge=lfs -text
week_one_01.jpg filter=lfs diff=lfs merge=lfs -text
week_one_08.jpg filter=lfs diff=lfs merge=lfs -text
lego_ligo.jpg filter=lfs diff=lfs merge=lfs -text
mocha.jpg filter=lfs diff=lfs merge=lfs -text
week_one_03.jpg filter=lfs diff=lfs merge=lfs -text
week_one_12.jpg filter=lfs diff=lfs merge=lfs -text
winding_stairs_tour.jpg filter=lfs diff=lfs merge=lfs -text
wine_tasting_walla_walla.JPG filter=lfs diff=lfs merge=lfs -text
me_in_infinity_room.jpg filter=lfs diff=lfs merge=lfs -text
me_licking_LIGO_arm.jpg filter=lfs diff=lfs merge=lfs -text
week_one_04.jpg filter=lfs diff=lfs merge=lfs -text
week_one_16.jpg filter=lfs diff=lfs merge=lfs -text
yoga_ball_control_room.mov filter=lfs diff=lfs merge=lfs -text
derby_selfie.JPG filter=lfs diff=lfs merge=lfs -text
me_ham7.jpg filter=lfs diff=lfs merge=lfs -text
